
/* services page */

.top-line {
    min-height: 412px;
    display: flex;
    flex-direction: column;
    padding-bottom: 23.5px;
    background: url(../img/headline\ 1.png) right 10% top no-repeat;
}

.top-line--container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.page-title {
    font-weight: bold;
    font-size: 72px;
    line-height: 1;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
}

.breadcrumbs__item--active .breadcrumbs__link {
    font-weight: 700;
    color: #9A9A9A;
}

.breadcrumbs__item:after {
    content: '/';
    margin-left: 5px;
    margin-right: 5px;
}

.breadcrumbs__item:last-child::after {
    display: none;
}

.breadcrumbs__link {
    color: #9A9A9A;
    font-style: 14px;
}

.page-content {
    background: #fff;
    color: #303030;
    padding: 40px 0;
}


.services {
    margin-bottom: 65px;
}

.service {
    display: flex;
    text-decoration: none;
    padding: 58px 43px;
    text-decoration: none;
    transition: 1s ;
}

.service__img {
    width: 30%;
    margin-right: 17%;
}

.service:hover {
    background: #F2F2F2;
}

.service__content {
    flex: 1;
}

.service__title {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 28.5px;
    color: #000;
}

.service__desc {
    line-height: 1.7;
    margin-bottom: 33px;
}

.inner-section {
    background: #fff;
    color: #1A1B1E;
    padding: 85px 0;
}

.inner-section--grey {
    background-color: #F4F5F5;
}

.inner-section__title {
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 79px;
}

.partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.partners__item {
    margin-right: 50px;
    margin-bottom: 20px;
}

.partners__item:nth-child(4n + 1) {
    margin-left: 0;
}

.partners__link {
    text-decoration: none;
    display: flex;
    width: 220px;
    height: 100px;
    align-items: center;
    justify-content: center; 
    filter: grayscale(100%);
    transition: 1s cubic-bezier(.37,-0.39,.19,1.43);
}

.partners__link:hover {
    filter: grayscale(0);
}

.inner-footer__container {
    padding: 45px 0;
}

.inner-footer {
    margin-top: auto;
}